$gray : #d3d3d3;
$cream: #f6f6f6;
$lightblue: #d3e6e7;


body {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/swirl_pattern.png');
}

.jumbotron {
  background-color: $lightblue;
}

.input {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
}
#showRepos {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
}

#singleRepo {
  background: $cream;
  border: 2px solid black;
  padding: 40px 80px;
  #repoName {
    font-size: 20px;
  }
}
